body {
    margin: 0;
    height: 0;
}

a {
    text-decoration: none;
}

a.left {
    padding-left: 5px;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    color: blue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: serif;
    font-size: 16px;
    padding-left: 4px;
    z-index: 5;
}

button:hover {
    cursor: pointer;
}

model-viewer {
    width: 100vw;
    height: 100vh;
    --progress-bar-color: transparent;
}

.text {
    width: 92vw;
    margin: 4vh 4vw;
    position: fixed;
    z-index: 5;
    font-family: serif;
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: flex-end;
}

footer {
    width: 92vw;
    height: 2vh;
    margin: 94vh 4vw 4vh;
    position: fixed;
    z-index: 5;
    font-family: serif;
    font-size: 16px;
    color: black;
    text-align: right;
}

.container {
    margin: 4vh 4vw;
    position: fixed;
    z-index: 2;
    font-family: serif;
    font-size: 16px;
    color: black;
    display: grid;
    grid-template-rows: 16px 1fr;
    grid-template-columns: 46vw 46vw;
    grid-template-areas: 
    "left right"
    "text text";
}

.left {
    grid-area: left;
    text-align: left;
}

.right {
    grid-area: right;
    text-align: right;
}

.english {
    grid-area: text;
    margin-top: 5vh;
}

.japanese {
    grid-area: text;
    margin-top: 5vh;
}